.cadastrar-inferior {
    width: 58px;
    height: 58px;
    background-color: #1AE2BE;
    border-radius: 100%;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    background-image: url(../../../../images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/*  */
@media screen and (min-width: 900px) {
    .cadastrar-inferior {
        display: none;
    }
}