.cadastrar-superior {
    display: none;
}
/*  */
@media screen and (min-width: 900px) {
    .cadastrar-superior {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        height: 48px;
        border-radius: 100px;
        border: none;
        background-color: #1AE2BE;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
}