.alteracoes__edit {
    background-image: url(../../../../../../images/lapis.svg);/* img */
    background-position: center;/* img */
    background-repeat: no-repeat;/* img */
    background-color: #7C95D5;/* modificador */
}