.modal {
    height: 100%;/* tamanho */
    width: 100%;/* tamanho */
    position: fixed;/* posicao */
    top: 0;/* posicao */
    left: 0;/* posicao */
    display: flex;/* flex */
    align-items: center;/* flex */
    justify-content: center;/* flex */
    z-index: -1;/* propriedade */
}