.formulario {
    width: 290px;
    background-color: #fff;
    border-radius: 8px;
    /* height: 90vh; */
    z-index: 1;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* border: 1px solid red; */
}
/*  */
@media screen and (min-width: 600px) {
    .formulario {
        height: 700px;
        width: 545px;
    }
}
