.formulario {
    width: 290px;/* tamanho */
    border-radius: 8px;/* borda */
    display: flex;/* flex */
    align-items: center;/* flex */
    transition: transform 100ms ease-in-out;/* propriedade */
    z-index: 1;/* propriedade */
    background-color: #fff;/* modificador */
    transform: scale(0);/* modificador */
}
/*  */
@media screen and (min-width: 600px) {
    .formulario {
        width: 545px;
    }
}
