.topo__btn {
    width: initial;/* tamanho */
    margin: 0;/* espacamento */
    padding: 0;/* espacamento */
    border: none;/* borda */
    cursor: pointer;/* propriedade */
    background-color: initial;/* modificador */
    font-size: 2rem;/* modificador */
}