.topo {
    margin-bottom: 10px;/* espacamento */
    border-bottom: 1px solid #DEDEDE;/* borda */
    display: flex;/* flex */
    align-items: center;/* flex */
    justify-content: space-between;/* flex */
}