.acao__btn--cancelar {
    margin-right: 10px;/* espacamento */
    cursor: pointer;/* propriedade */
    background-color: #D9D9D9;/* modificador */
    color: #777777;/* modificador */
    font-weight: bold;/* modificador */
}