.formulario {
    width: 290px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 8px;
    height: 85vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  */
@media screen and (min-width: 600px) {
    .formulario {
        height: 700px;
        width: 545px;
    }
}
