.dados__edit {
    background-image: url(../../../../../images/lapis.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7C95D5;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}