.dados__del {
    background-image: url(../../../../../images/lixo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #D15D5D;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}