@media screen and (min-width: 900px) {
    .dados {
        display: grid;/* grid */
        grid-template-columns: 60px 140px 110px 80px 170px 120px 90px 100px;/* grid */
        align-items: center;/* grid */
        font-size: 0.9rem;/* modificador */
    }
}
/*  */
@media screen and (min-width: 1200px) {
    .dados {
        grid-template-columns: 100px 200px 150px 90px 200px 160px 150px 100px;/* grid */
        font-size: 1rem;/* modificador */
    }
}