.dados__del {
    height: 30px;/* tamanho */
    width: 30px;/* tamanho */
    margin-right: 20px;/* espacamento */
    border: none;/* borda */
    border-radius: 100%;/* borda */
    cursor: pointer;/* propriedade */
    background-image: url(../../../../../../../images/lixo.svg);/* img */
    background-position: center;/* img */
    background-repeat: no-repeat;/* img */
    background-color: #D15D5D;/* modificador */
}