.mask {
    height: 100vh;/* tamanho */
    width: 100%;/* tamanho */
    position: fixed;/* posicao */
    top: 0;/* posicao */
    background-color: rgba(0, 0, 0, 0.5);/* modificador */
    transform: scale(0);/* modificador */
    transition: transform 200ms ease-in-out;/* propriedade */
    z-index: 1;/* propriedade */
}