.etiquetas {
    display: none;
}
/*  */
@media screen and (min-width: 900px) {
    .etiquetas {
        padding: 12px 20px;/* espacamento */
        display: grid;/* grid */
        grid-template-columns: 80px 100px 90px 90px 170px 130px 110px 100px;/* grid */
    }
}
/*  */
@media screen and (min-width: 1200px) {
    .etiquetas {
        grid-template-columns: 100px 200px 150px 90px 200px 160px 150px 100px;/* grid */
        font-weight: bold;/* modificador */
    }
}