.hamburger {
    width: 30px;/* tamanho */
    margin-left: auto;/* espacamento */
    cursor: pointer;/* propriedade */
    transform: translateY(25%);/* modificador */
}
/*  */
@media screen and (min-width: 900px) {
    .hamburger {
        display: none;/* propriedade */
    }
}