.cabecalho {
    height: 70px;/* tamanho */
    padding: 0 20px;/* espacamento */
    display: flex;/* flex */
    align-items: center;/* flex */
    position: relative;/* posicao */
    background-color: #000;/* modificador */
}
/*  */
@media screen and (min-width: 900px) {
    .cabecalho {
        height: 10vh;/* tamanho */
        grid-area: header;/* grid */
    }
}